*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    color: wheat;
    padding-top: 20px;
}
.head{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}
.head-img{
    display: flex;
    margin-left: 50px;
    gap: 10px;
}
.head-img img{
    width: 20px;
    height: 20px;
}
.head-img p{
    font-weight: bold;
}
.nav-bar a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    gap:20px;
}
.nav-bar a:hover{
    color: red;
}
.sect-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 60px;
}
.btn-1{
    background-color: red;
    border: none;
    border-radius: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}
.home img{
    width: 300px;
    height: 250px;
    margin-left: 25%;
}
.sect-1-par{
    margin-left: 50px;
}
.cards{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:60px;
    margin-top: 50px;
}
.sect-2{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;

}
.card1 img{
    width: 80px;
    height: 80px;
}
.card1 img:hover{
        transform: translateY(-8px);
    }
.card1{
    /* border: 1px solid black; */
    width: 150px;
}
.sect-3{
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: 130px;
}
.btn-2{
    background-color: red;
    border: none;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.img3 img{
     width: 200px;
    height: 200px;
}
.sect-3-par{
    /* border: 1px solid black; */
    width: 350px;

}
.sect-3-par button{
    border: none;
    border-radius: 30px;
}
.sect-4{
    margin-top: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.card2 img{
    width: 80px;
    height: 80px;

}
.card2 img:hover{
        transform: translateY(-8px);
    }
.card2{
    border: 1px solid rgb(248, 237, 237);
    border-radius: 5px;
    width: 150px;
    height: 180px;
    box-shadow:  5px 5px 5px rgb(223, 219, 219);
}
.cards2{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    margin-left: 20%;
    margin-right: 50px;
    margin-top: 10px;
    padding: 40px;
}
.sect-5{
    margin-top: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.card3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-top: 50px;
    margin-bottom: 140px;
}
.cards3 img{
    width: 80px;
    height: 80px;
    background-color: rgb(173, 25, 25);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.cards3 img:hover{
        transform: translateY(-8px);
    }
.cards3{
    border: 1px solid rgb(248, 237, 237);
    border-radius: 10px;
    width: 140px;
    height: 170px;
    box-shadow: 20px 20px 20px 15px rgb(239, 233, 233);
    padding: 30px;
}
.sect-6{
    display: flex;
    justify-content: center;
    width:700px;
    height: 300px;
    border: 1px solid red;
    color: white;
    background-color: red;
    border-radius: 10px;
    gap:60px;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 50px;
}
.img-sect6 img{
    width: 300px;
    height: 200px;
}
.button6{
    background-color: white;
    border: none;
    border-radius: 30px;
    padding-right: 25px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button62{
    background-color: rgb(11, 10, 10);
    border: none;
    color: white;
    border-radius: 30px;
    padding-right: 25px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.foot{
    display: flex;
    justify-content: center;
    gap:60px;
    margin-top: 100px;
    flex-wrap: wrap;
    margin-left: 80px;
}
.foot1 h6{
    font-weight: bold;
    margin-bottom: 10px;
}
.foot1:hover{
    color: red;
}
.foot1 img{
    width: 80px;
    height:20px;
    border: none;
    border-radius: 5px;
}
.foot1{
    width: 150px;
    height: 150px;
}
.sect-img{
    margin-bottom: 10px;
    display: flex;
     width: 20px;
    height: 20px;
}
.foot2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.bomb img{
    width: 100px;
    height: 100px;
}